.login { 
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-login {
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.login-overlap-group {
    background-image: url(doggo.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-overlap {
    background-color: #153335c9;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height:100px;
    width: 200px;
    position: relative;
}

.description {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400; 
}

.login-form {
    flex-direction: column;
}

.login-h-1 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: 700;
    width: 700px;
    text-align: right; 
    float: right;
    margin-right:10%;
    margin-top:5%;
}

.login-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width:300px;
    min-height:300px;
    background-color: transparent;
  }
  
  .login-form .form-group {
    margin: 10px 0;
    display: block;
  }
  
  .login-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color:#fff;
    display: flex;

  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form button[type="submit"] {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #ffffff4a;
    color: #fff;
    cursor: pointer;
    margin-top:15px;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #3367d6;
  }

  .link {
    color:#fff;
    margin-top:20px;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
  