.register { 
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.register-register {
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.register-overlap-group {
    background-image: url(doggo.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-overlap {
    background-color: #153335c9;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height:100px;
    width: 200px;
    position: relative;
}

.description {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400; 
    font-weight: bold;
}

.register-h-1 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: 700;
    width: 700px;
    text-align: right; 
    float: right;
    margin-right:10%;
    margin-top:5%;
}


.register-form {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width:80%;
    min-height: 600px;
    background-color: transparent;
  }
  
  .register-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    color: #fff;
  }
  
  .register-form input[type="text"],
  .register-form input[type="number"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .register-form button[type="submit"] {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #ffffff4a;
    color: #fff;
    cursor:grab;
    margin-top: 15px;
  }
  
  
  .register-form button[type="submit"]:hover {
    background-color: #3367d6;
  }

  .form-group {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
  }




  