.chat-container-header{
    background-color: #153335;
    display: flex;
    width: 100%;
    padding-top: 30px;
}
.chat-container .chat-buttons{
    background-color: #153335;
    padding-bottom: 30px;
    padding-left: 30px;

}

.chat-container{
    background-color: #dbdbdb;
    width: 30%;


}
.chat-container .option{
    background-color: #15333500;
    border: none;
    color: white;
    border-bottom: solid 4px rgb(255,255,255);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}
.header{
    padding: 20px;
    background-color: #153335;
}

.chat-display{
    padding:20px;
    height:60vh;
    overflow-y: auto;

}